/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 17 févr. 2025, 08:09:41
    Author     : uti012
*/
.rouge{
    background-color: red;
    color:white;
    font-size: 1.5em;
}
