/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 24 mars 2025, 12:20:51
    Author     : uti012
*/
body {
background-color: #0771e2        ;
}

h2{
    color : #e00f0f    
}